.flex-container {
  display: flex;
}

.box1 {
  flex: 2;
  background-color: azure;
  border-color: blue;
  margin: 15px;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box2 {
  flex: 1;
  background-color: rgb(114, 116, 12);
  margin: 15px;
  padding: 15px;
}

.box3 {
  flex: 1;
  padding: 15px;
  background-color: cyan;
  margin: 15px;
}

.search {
  display: flex;
  gap: 10px;
}

.search label {
}

.search .text {
  flex: 1;
}
